<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.device.DeviceListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.upgrade.UpgradeDialogActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.CustomMyDialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.zee.launcher.START_UPGRADE_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>